body {
/*  position: relative;*/
}
#main, #start, #we, #details, #car, #green, #buy {
font-family: 'Open Sans', sans-serif;
  /*margin-left: 315px;*/
}
#main {
  position: relative;
  width: 100%;
  max-width: 1800px;
  z-index: 1;
}
.man {
  background-image: url(../images/Image1.jpg);
  /*background-size: cover;   почему не работает адаптив?
  padding-top: 53%;/*  960px/1800px=0.533*/
  width: 100%;
  max-width: 1740px;
  height: 900px;
  margin-left: 0px;
  margin-top: 0px;
}
.logo {
  float: left;
  margin-left: 315px;
  margin-top: 125px;
  }
.logotext {
  float: left;
  margin-left: 10px;
  margin-top: 100px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Merriweather', sans-serif;
}
.picture_perfect {
  float: left;
  margin-top: 450px;
  margin-left: -100px;
  }
 h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: white;
  }
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  padding-top: 30px;
  line-height: 1.8em;
  }
.picture_perfect p {
  color: white;
  max-width: 470px;
}
.start {
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  width: 80%;
  min-height: 500px;
  max-width: 1800px;
  background-color: white;
  /*-webkit-column-count: 2;
  -moz-column-count: 2;*/
  /*column-count: 2;/*создаем 2-колоночный текст через column-count ИЛИ через column-width*/
  /*column-width: 570px; /*ширина одной колонки*/
/*  column-gap: 30px; /*расстояние м/у колонками*/

}
.start-text {
  width: 570px;
  float: left;
  margin-right: 70px;
  padding-bottom: 30px;
}
.start-text2 {
  margin-top: 60px;
}
.start-text p {
  color: #a5a5a5;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  padding-bottom: 30px;
  }
.main {
  margin-bottom: 20px;
    clear: both;
  }
.phone {
    position: absolute;
    top: 250px;
    left: 45%;
    z-index: 2;
    padding: 10px;
  }
#we {
  margin-left: 180px;
  width: 2000px;
  color: white;
  box-sizing: content-box;
  vertical-align: middle;
}
#we h3 {
  font-size: 30px;
  }
#we p {
  font-size: 13px;
  padding-bottom: 3em;
}
.desing {
  float: left;

  background-color: #f5989d;
  width: 22%;
  max-width: 320px;
  max-height: 180px;
  height: auto;
  padding: 50px 40px;
  line-height: 2em;
}
a {
  text-decoration: none;
  color: white;
}
.built {
  float: left;
  background-color: #615f7d;
  width: 22%;
  max-width: 320px;
  max-height: 180px;
  height: auto;
  padding: 50px 40px;
  line-height: 2em;

}
.clients {
  float: left;
  width: 22%;
  max-width: 320px;
  max-height: 180px;
  height: auto;
  padding: 50px 40px;
  line-height: 2em;
  background-image: url(../images/Layer-61.jpg);
}
.How_to_shoo {
  float: left;
  width: 22%;
  max-width: 320px;
  max-height: 180px;
  height: auto;
  padding: 50px 40px;
  line-height: 2em;
  background-color: #bd8cbf;
  }
.Sign_up {
  float: left;
  width: 30%;
  height: auto;
  max-width: 800px;
  min-height: 180px;
  padding: 50px 40px;
  line-height: 2em;
  background-image: url(../images/Layer-5.jpg);
}
.Perfect_pictures {
  float: left;
  width: 22%;
  height: auto;
  max-width: 320px;
  min-height: 180px;
  background-color: #82ca9c;
  padding: 50px 40px;
  }
.STart_something {
  float: left;
  background-image: url(../images/Layer-14.jpg);
  width: 22%;
  height: auto;
  max-width: 320px;
  max-height: 180px;
  padding: 50px 40px;
  line-height: 2em;
}
#details {
  clear: both;
  color: #a5a5a5;
  margin-left: 10%;
  margin-top: 115px;
  width: 80%;
  max-height: 350px;
  max-width: 1800px;
  background-color: white;
}
.details1, .details2, .details3, .details4 {
  max-width:  20%;
  float: left;
  margin-right: 5%;
  margin-bottom: 85px;
  }
.details h2 {
  width: 100%;
  color: black;
  padding: 50px 50px 50px 0px;
    }
.details h4 {
  color: black;
  font-weight: bold;
}
#car {
  clear: both;
  background-image: url(../images/Car.jpg);
  width: 100%;
  max-width: 1800px;
  height: 1200px;
  margin: 0px;

}
.more_power {
  float: left;
  padding-top: 40%;
  padding-left: 15%;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: white;
}
.more_power p {
  color: white;
  max-width: 500px;
  padding-bottom: 20px;
}
#green {
  background-color: #82ca9c;
  height: auto;
  min-height: 535px;
  box-sizing: content-box;
  width: 90%;
  max-width: 1800px;
  margin-left: 0px;
  margin-top: 0px;
  color: white;
}
.green {
  clear: both;
  padding-left: 10%;
  padding-top: 115px;
  width: 100%;
  max-height: 350px;
  max-width: 1800px;
  background-color: white;
}
.green1, .green2, .green3 {
  max-width:  25%;
  float: left;
  margin-right: 5%;
  margin-bottom: 85px;
}
.details h2 {
  width: 100%;
  color: black;
  padding: 100px 50px 50px 0px;
}
h4 {
  color: white;
  font-weight: bold;
  padding-top: 50px;
}
#buy {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1800px;
  background-color: #f6f7fa;
}
.buy1 {
  float: left;
  margin-left: 10%;
  margin-bottom: 85px;
  margin-top: 115px;
  width: 80%;
  max-height: 630px;
  max-width: 30%;
  margin-right: 10%;
  }
.legasy, .popular {
  background-color: #e1e1e1;
  padding: 5px 10px;
  color: white;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}
.popular {
  background-color: #bd8cbf;
}
.buy p {
  color: #a5a5a5;
}
.buy h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  }
.buy_now {
  background-color: #82ca9c;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}
.buy2 {
  float: left;
  margin-bottom: 85px;
  margin-top: 60px;
  width: 80%;
  max-height: 380px;
  max-width: 30%;
  margin-right: 10%;
  background-color: white;
  padding: 50px;
  }

.fa_windows {
  float: left;
  padding: 5px;
  margin-right: 10px;
}
.fa_apple {
  float: left;
  padding: 5px;
  margin-right: 10px;
}
.footer {
  clear: both;
  background-color: #192431;
  width: 100%;
  min-height: 600px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 120px;
  padding-bottom: 150px;
  /*position: absolute;*/
    }
.GetIn {
  float: left;
  max-width:  45%;
  margin-right: 5%;
  margin-left: 10%;
  margin-bottom: 85px;
  }
.form {
  float: left;
}
.text {
  float: left;
  width: 400px;
  height: 60px;
  border-radius: 10px 0px 0px 10px;
  font-size: 30px;
}
.OK { /*не работает!!!*/
  float: left;
  background-color: #82ca9c;
  height: 60px;
  width: 60px;
  padding: 0px;
  margin-left: -5px;
}
.form p {
  color: #57697f;
}
.menu {
  clear: both;
}
.menu h4 {
  margin-bottom: 20px;
}
.resources, .Features, .How_To {
  float: left;
  width:  100px;
  margin-left: 10%;
  margin-bottom: 85px;
  font-size: 15px;
}
li {
  padding: 5px 0px;
}
html {
  height: 100%;
  width: 1800px;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 1800px) {

}
