@font-face {
  font-family: 'big_noodle_titling';
  src: url('../fonts/big-noodle-titling/big_noodle_titling.ttf');
  font-weight: ;
}
@font-face {
  font-family: 'Roboto-thin';
  src: url('../fonts/Roboto-thin.ttf');
  font-weight: ;
}
@font-face {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
body {
  margin: 0;
  padding: 0;
}
.fa-1x {
font-size: 1.5rem;
}

#navbar {
  background-color: #f8f6f6;
  min-height: 140px;
  font-family: 'big_noodle_titling';
  font-size: 40px;
  width: 100%;
  min-height: 140px;
  text-decoration: none;
  color: #9d9190;
  padding-top: 4rem;
  }
.navbar-bran {
  font-family: 'big_noodle_titling';
  text-decoration: none;
  color: #9d9190;
  font-size: 40px;

}
.menu {
  cursor: pointer;
  width: 38px;
  height: 21px;
}
#slider {
  min-height: 700px;
  background-color: #353535; /*черный*/
  color: #d6d5d5; /*светлый*/
  font-family: 'big_noodle_titling';
  width: 100%;
  padding-top: 20rem;
}
#mice {
  padding-bottom: 1em;
  margin-top: 18rem;
  width: 20px;
  height: 9px;
}
#mice a {
  text-decoration: none;
  color: #353535; /*черный*/
}
.mouse { /*овал для мышки*/
  height: 30px;
  width: 22px;
  border-radius: 10px;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}
.wheel {  /*вертик.полоса внутри мышки*/
  height: 5px;
  width: 2px;
  display: block;
  margin: 7px auto;
  background-color: #ffffff;
  position: relative;
}

#mice span { /*стрелки под мышкой*/
  display: block;
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  margin: 5px 0 3px 6px;
}
.tittle-h1 {
  font-size: 72px;
}
.tittle-h3 {
  font-size: 36px;
  margin: auto;
}
#about {
  width: 100%;
  min-height: 570px;
  background-color: #ffffff;
  padding-top: 5rem;

}
.title {
  font-family: 'big_noodle_titling';
  font-size: 48px;
  /*font-weight: bold;*/
  text-align: center;
  }
.title-red-line {
  max-width: 80px;
  height: 3px;
  background-color: red;
  text-align: center;

}
.text {
  font-family: 'Roboto';
  font-size: 14px;
  color: #a09494; /*серый шрифт*/
  text-align: center;
  padding-top: 15px;
}
.card {
border: none !important;
}
.card-about {
  padding-top: 5rem;
}
.card-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #707070;
}
.card-body-light {

  min-height: 195px;
  background-color: #ebebeb;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
.aboutUs-img {
  padding: 10px;
}
#video {
  width: 100%;
  min-height: 304px;/*430px;*/

}
.video-text {
  min-height: 310px; /*430px;*/
  background-color: #171f23;

}
.btn-danger {
  margin: 4em 0;
}
.title-white {
  color: #e5d9d9;
  font-family: 'Roboto';
  font-weight: bolder;
  font-size: 30px;
  margin-top: 10rem;
}
.video-bcg {
  padding-left: 0 !important;
  padding-right: 0 !important;
  opacity: 0.7;
  }
.video-bcg:hover, .video-bcg:active { /*не отключается опасити при включении видео*/
  opacity: 1;
}
#works {
  width: 100%;
  min-height: 300px;
  padding-top: 5rem;
}
.nav {
  padding: 3rem 0;
}
.works-link {
  text-decoration: none;
  list-style-type: none; /*убираем маркеры списка*/
  font-family: 'Roboto';
  font-size: 14px;
  color: #a8a8a8; /*серый шрифт*/
}

.nav-item .active {
  border-bottom: 2px solid red;
  padding-bottom: 2px;
}
.works-link:hover {
  border-bottom: 2px solid red;
  padding-bottom: 2px;
  color: #000000;
}
.red-block {
  background-color: #e84c3d;
  width: 100%;
  min-height: 525px;
}
.carousel {
 margin-top: 20px;
}
.item .thumb {
 width: 25%;
 cursor: pointer;
 float: left;
}
.item .thumb img {
 width: 100%;
 margin: 2px;
}
.item img {
 width: 100%;
}
#thumbcarousel {
  margin-top: 0 !important;
}
#we {
  width: 100$;
  min-height: 800px;
  padding-top: 5rem;
}
.we-body {
  min-height: 430px;
  }
.We-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #3d3d3d;
}
.We-job {
  font-family: 'Roboto';
  font-size: 14px;
  color: #4f4f4f;
}
.social {
  text-decoration: none;
  list-style-type: none; /*убираем маркеры списка*/
  padding-left: -40px !important;
  }
.carousel-indicators .active {
  color: #957e7d;
  background-color: #957e7d;
  border: 2px solid #957e7d;
  cursor: pointer;

}
.no-active {
  color: #ffffff;
  border: 2px solid #957e7d !important;
}
.skills {
  padding-left: 15px;
  min-height: 430px;
}
.skills-title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #3d3d3d;

}
.progress {
  padding-left: 0 !important;
}
.progress-row {
  width: 100%;
}
.progress-text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #3d3d3d;

}
#features {
  width: 100%;
  min-height: 380px;
  background-color: #171f23;
  color: #ffffff;
  }
.features-body {
  width: 100%;
}
.card-futur {
  background-color: #171f23;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #171f23 !important;
  padding: 2em 0;
  }
.futur-category {
  font-size: 18px;
  padding-top: 10px;
}
.futur-volume {
  font-size: 48px;
}
#blog {
  width: 100%;
  min-height: 795px;
  padding-top: 5rem;
}
.blog-content {
  width: 100%;
  min-height: 430px;
  margin: auto;
  }
.blog-card {
  background-color: #ebebeb !important;
  width: 18rem;
}
.blog-like-img {
  padding: 0 10px;
  width: auto;
  height: 12px;
  cursor: pointer;
}
.far  {
  color: #9c9c9c !important;
}
.card-text-blog {
  color: #9c9c9c;
}
.card-img-top {
  position: relative;
}
.blog-cover {
  display: ;
  position: absolute;
  top: 20%;
  left: 35%;

}
.blog-cover-1, .blog-cover-2 {
  width: 43px;
  height: 43px;
  margin: 10px;
  }
.card-img-top:hover .blog-cover {
  display: block;
  cursor: pointer;
}

#plans {
  width: 100%;
  min-height: 600px;
  background-color: #171f23;
  color: #ffffff;
  margin: auto;
  }
.plans-volume-orange {
  color: orange;
}
.card-plans {
  border: none !important;
  min-height: 450px !important;
  margin-top: 50px;
}
.card-plans:hover {
  border: 1px solid orange !important;
}
.plans-body {
  background-color: #1f282c;
  padding-top: 5rem !important;
}
.plans-body-price {
  background-color: #0e1316 !important;
}
.plans-body-price p, .plans-volume {
  font-size: 1.4rem;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 1.2em
}
.plans-body-price h2 {
  font-size: 3em;
  font-family:'Roboto-thin';
  margin-top: 0;
}
.plans-category {
  font-size: 1.5rem;
  font-family: 'Roboto-thin';
}
.btn-warning {
  width: 10rem;
  margin-top: 8rem;
  font-size: 1.4rem;
  font-family: 'Roboto';
}
.form-row .btn-warning {
  margin-top: 5rem;

}
#form {
  min-height: 500px;
  width: 100%;
}
.red-star {
  color: red;
}
.text-left {
  text-align: left !important;
}
.form-control {
  border: none;
  }
.locate {
  width: 100%;
  min-height: 80px;
  background-color: #0c1215;
}
.locate-title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.fa-angle-down {
  color: #ffffff;
}
.page-footer {
  width: 100%;
  min-height: 240px;
  background-color: #171f23;
  color: #ffffff;
}
.footer-brand {
  font-family: 'big_noodle_titling';
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  padding: 10px;
}
.footer-brand:hover {
  color: #ffffff;
  text-decoration: none;
  }
.footer-txt {
  font-family: 'Roboto-thin';
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


html {
  width: 100%;
  height: 100%;

}

@media screen and (max-width: 700px) {
  .video-text, .card-about {
    margin-bottom: 15px;
  }
  .card-about {
    min-height: 195px;
  }
  .blog-cover {
    top: 10%;
  }
  #form, .video-text  {
    padding-bottom: 5rem;
  }
  #mice {
    display: none;
  }
  .form-row .btn-warning {
    
  }
}
