@charset "UTF-8";
/* line 58, style.scss */
body {
  margin: 0;
  /*прижать страницу к границам окна*/
  padding: 0; }

/* line 62, style.scss */
.header {
  background-image: url(../images/bcg-general.jpg);
  /*max-width: 1200px;*/
  width: 100%;
  min-height: 770px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center; }

/* line 71, style.scss */
.header__logo {
  min-height: 100px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10%; }

/* line 77, style.scss */
.header__item {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px;
  /*верх-низ  лев-прав*/ }

/* line 82, style.scss */
.header__title {
  padding-top: 10%;
  text-align: center;
  vertical-align: middle; }

/* line 87, style.scss */
.header-h1 {
  font-size: 50px; }

/* line 90, style.scss */
.header-text {
  font-size: 20px;
  padding: 20px; }

/* line 94, style.scss */
.btn {
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer; }

/*  .header__hover {
    display: none;
  }
  &:hover .header__hover {
    display: active;
    @include opacity-red;
  }*/
/* line 111, style.scss */
.services {
  min-height: 550px;
  /*max-width: 1200px;*/
  width: 95%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 120, style.scss */
.title_grey_h2 {
  color: #555555;
  /*темно-серый заголовок*/
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  margin: auto; }

/* line 124, style.scss */
.title_h2_line {
  /*задаем подчеркивание под заголовком*/
  text-align: center;
  height: 2px;
  margin: 30px 0px;
  width: 40px;
  background-color: #555555;
  text-align: center; }

/* line 128, style.scss */
.title_under_grey {
  /*текст по заголовком*/
  color: #555555;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;
  text-align: center; }

/* line 131, style.scss */
.TITLE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 260px;
  padding-top: 80px;
  padding-bottom: 70px; }

/*.services-title {
    @include h2_line_text;  /*почему на общем миксине серая линия над заголовком???
}*/
/* line 140, style.scss */
.title_grey_mini {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px; }

/* line 145, style.scss */
.services_col {
  width: 100%;
  margin: auto;
  min-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 151, style.scss */
.services_left, .services_center, .services_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
  width: 30%;
  height: auto; }

/* line 160, style.scss */
.AboutUs {
  background-color: #f8f8f8;
  min-height: 850px;
  /*max-width: 1200px;*/
  width: 100%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 170, style.scss */
.text-2cols {
  -webkit-column-count: 2;
          column-count: 2;
  width: 95%;
  min-height: 150px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  text-align: justify; }

/* line 178, style.scss */
.karusel {
  /*max-width: 1200px;*/
  width: 95%;
  height: auto; }

/* line 183, style.scss */
.karusel_wrap {
  /*max-width: 1200px;*/
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-padding-start: 0px;
     -moz-padding-start: 0px;
          padding-inline-start: 0px; }

/* line 192, style.scss */
.karusel_content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  max-width: 260px; }

/* line 197, style.scss */
.karusel-foto {
  height: 260px;
  width: 260px;
  position: relative; }

/* line 202, style.scss */
.karusel_name {
  font-size: 14px; }

/* line 205, style.scss */
.karusel_job {
  font-size: 13px; }

/* line 208, style.scss */
.karusel_cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 260px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.5); }

/* line 217, style.scss */
.karusel_cover_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
  padding: 180px 0 20px 0; }

/* line 223, style.scss */
.karusel-link {
  padding-right: 10px;
  list-style-type: none;
  /*убираем маркеры списка*/ }

/* line 227, style.scss */
.karusel_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  /*убираем маркеры списка*/
  position: relative; }
  /* line 232, style.scss */
  .karusel_item:hover .karusel_cover {
    display: block;
    cursor: pointer; }

/* line 239, style.scss */
.works {
  min-height: 1280px;
  width: 100%;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 14px;
  line-height: 1.5em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*@include h2_line_text;*/
/*почему на общем миксине серая линия над заголовком???*/
/* line 248, style.scss */
.works_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

/* line 256, style.scss */
.works_cover {
  display: none;
  color: #ffffff;
  background-color: rgba(255, 108, 95, 0.5);
  /*а- прозрачность, изменяется от 0 до 1*/
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 320px;
  margin: auto; }

/* line 267, style.scss */
.works_cover_p {
  padding-top: 30%;
  font-size: 14px; }

/* line 271, style.scss */
.works_cover_txt {
  font-family: "Montserrat", sans-serif;
  font-size: 13px; }

/* line 276, style.scss */
.btn_white {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  color: #d06c5f;
  background-color: #ffffff;
  cursor: pointer; }

/* line 283, style.scss */
.works_item_wrap {
  width: 360px;
  height: 320px;
  margin-top: 20px;
  position: relative; }
  /* line 289, style.scss */
  .works_item_wrap:hover .works_cover {
    display: block;
    cursor: pointer; }

/* line 296, style.scss */
.Progect {
  background-image: url(../images/your-project.jpg);
  max-width: 1600px;
  min-height: 370px;
  margin: auto;
  margin-top: 100px; }

/* line 303, style.scss */
.Progect_text_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 30px;
  max-width: 1600px;
  min-height: 370px;
  text-align: center;
  background-color: rgba(255, 108, 95, 0.5);
  /*а- прозрачность, изменяется от 0 до 1*/
  cursor: pointer; }

/* line 315, style.scss */
.Blog {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 1080px; }

/* line 320, style.scss */
.Blog_col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 324, style.scss */
.Blog_row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  /*max-width: 1200px;*/
  width: 100%;
  min-height: 380px;
  margin: 20px 0px; }

/* line 333, style.scss */
.Blog_row_img {
  max-width: 460px;
  height: auto;
  margin-right: 30px; }

/* line 338, style.scss */
.Blog_right_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 62%;
  min-height: 227px; }
  /* line 346, style.scss */
  .Blog_right_col .Blog_title_row {
    /*дата + заголовок*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    /* line 350, style.scss */
    .Blog_right_col .Blog_title_row .Blog_col_date {
      font-size: 20px;
      font-weight: bold;
      font-family: "Montserrat", sans-serif;
      border: 2px solid #555555;
      width: 75px;
      height: 70px;
      text-align: center;
      padding: 2px;
      margin-right: 30px; }
    /* line 361, style.scss */
    .Blog_right_col .Blog_title_row .Blog_title_autor {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: "Montserrat", sans-serif;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; }
      /* line 365, style.scss */
      .Blog_right_col .Blog_title_row .Blog_title_autor .Blog_col_title {
        margin: auto;
        color: #c0301c;
        font-size: 20px;
        font-weight: bold;
        text-align: left; }
      /* line 372, style.scss */
      .Blog_right_col .Blog_title_row .Blog_title_autor .Blog_col_autor {
        color: #555555;
        font-size: 13px;
        font-style: italic;
        text-align: left; }

/* line 381, style.scss */
.text_grey {
  font-family: "Montserrat", sans-serif;
  color: #555555;
  font-size: 14px;
  line-height: 1.5em;
  text-align: justify; }

/* line 385, style.scss */
.text_red {
  color: #c0301c;
  font-family: "Montserrat", sans-serif;
  text-decoration: none; }

/* line 391, style.scss */
.Partners {
  /*max-width: 1200px;*/
  width: 100%;
  min-height: 490px;
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555555; }

/* line 399, style.scss */
.Partners_text {
  font-style: italic;
  max-width: 700px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-align: center; }

/* line 406, style.scss */
.Partners_signature {
  font-size: 16px; }

/* line 410, style.scss */
.GetInTouch {
  min-height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 414, style.scss */
.GetInTouch_content {
  /*max-width: 1200px;*/
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto; }

/* line 424, style.scss */
.Contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 240px;
  min-height: 300px;
  margin-right: 95px; }
  /* line 430, style.scss */
  .Contacts .Contacts_wrap {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    /* line 434, style.scss */
    .Contacts .Contacts_wrap .Contacts_img {
      width: 30px;
      height: 70px;
      margin-right: 10px;
      padding-top: 35px; }
    /* line 440, style.scss */
    .Contacts .Contacts_wrap .Contacts_txt {
      width: 240px;
      height: 70px; }

/* line 446, style.scss */
.text_grey_mini {
  color: #555555;
  font-size: 12px;
  font-family: "Montserrat", sans-serif; }

/* line 451, style.scss */
.Form {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 730px;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

/* line 460, style.scss */
.Form_row1 {
  width: inherit;
  height: auto;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto; }

/* line 469, style.scss */
.Form_name {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  height: 45px;
  max-width: 350px;
  width: 48%;
  padding-left: 10px;
  border: 1px solid #555555; }

/* line 478, style.scss */
.Form_name_red {
  border: 1px solid red; }

/* line 481, style.scss */
.Form_massage {
  border: 1px solid #555555;
  max-width: 730px;
  width: 100%;
  min-height: 90px;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  padding-left: 10px; }

/* line 491, style.scss */
.Form_row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/* line 496, style.scss */
.Form_submit {
  border: 1px solid #555555;
  color: #555555;
  font-family: "Montserrat", sans-serif;
  width: 170px;
  height: 45px;
  background-color: #ffffff;
  margin-right: 15px; }

/* line 505, style.scss */
.submit_text_red {
  color: red;
  padding-right: 5px; }

/* line 510, style.scss */
.footer {
  width: auto;
  min-height: 200px;
  background-color: #c0301c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto; }

/* line 517, style.scss */
.footer_img {
  margin: auto; }

/* line 520, style.scss */
.footer_white_line {
  background-color: #ffffff; }

/* line 524, style.scss */
.footer-txt {
  color: #ffffff; }

/* line 529, style.scss */
html {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto; }

@media screen and (max-width: 700px) {
  height: 100%;
  /* line 538, style.scss */
  .header {
    min-width: 100%;
    background-size: auto; }

  /* line 542, style.scss */
  .services {
    width: 100%; }

  /* line 545, style.scss */
  .services_col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    min-width: 100%; }

  /* line 550, style.scss */
  .services_left, .services_center, .services_right {
    width: 100%;
    height: auto; }

  /* line 554, style.scss */
  .karusel_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    width: 100%; }

  /* line 560, style.scss */
  .text-2cols {
    -webkit-column-count: 1;
            column-count: 1;
    width: 98%;
    height: auto; }

  /* line 566, style.scss */
  .text_grey {
    padding-left: 5%;
    padding-right: 5%; }

  /* line 570, style.scss */
  .Blog_right_col, .Blog_title_row {
    margin-left: 5%;
    width: 100%;
    height: auto; }

  /* line 575, style.scss */
  .text_red {
    padding-left: 5%; }

  /* line 578, style.scss */
  .Form {
    height: auto; }

  /* line 581, style.scss */
  .Form_row3 {
    width: 98%; }

  /* line 584, style.scss */
  .GetInTouch_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: 100%; }

  /* line 589, style.scss */
  .Contacts {
    width: 100%;
    height: auto; }

  /* line 593, style.scss */
  .Partners_img {
    display: none; }

  /* line 596, style.scss */
  .Contacts_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  /* line 599, style.scss */
  .Blog_row_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 700px;
    height: auto; }

  /* line 604, style.scss */
  .works_item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
