$font-mtr : 'Montserrat', sans-serif;

@mixin text-p-14 {
  font-family: $font-mtr;
  color: #555555;
  font-size: 14px;
  line-height: 1.5em;
}
@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin font-h2 {
  color: #555555; /*темно-серый заголовок*/
  font-size: 20px;
  font-family: $font-mtr;
  text-align: center;
  margin: auto;
  width: 100%;
}
@mixin font-h2-line {      /*задаем подчеркивание под заголовком*/
    text-align: center;
    height: 2px;
    margin: 30px 0px;
    width: 40px;
    background-color: #555555;
}
@mixin title_under_grey { /*текст по заголовком*/
  color: #555555;
  font-size: 16px;
  font-family: $font-mtr;
  width: 100%;
  margin: auto;
  text-align: center;
}
@mixin h2_line_text { /*заголовок+ линия+ текст под заголовком. ПОЧЕМУ ПРИ ВСТАВКЕ ЛИНИЯ ОТОБРАЖАЕТСЯ НАД ЗАГОЛОВКОМ????*/
  @include font-h2;
  @include font-h2-line;
  @include title_under_grey;

}
@mixin opacity-red {
  background-color: rgba(255, 108, 95, 0.5); /*а- прозрачность, изменяется от 0 до 1*/
}
@mixin opacity-grey {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /*а- прозрачность, изменяется от 0 до 1*/
}

body {
  margin: 0; /*прижать страницу к границам окна*/
  padding: 0;
}
.header {
  background-image: url(../images/bcg-general.jpg);
  /*max-width: 1200px;*/
  width: 100%;
  min-height: 770px;
  color: #ffffff;
  font-family: $font-mtr;
  text-align: center;
}
.header__logo {
  min-height: 100px;
  width: 80%;
  @include flex-row;
  margin: 0px 10%;
}
.header__item {
  text-decoration: none;
  color: #ffffff;
  padding: 10px 20px; /*верх-низ  лев-прав*/
}
.header__title {
  padding-top: 10%;
  text-align: center;
  vertical-align: middle;
}
.header-h1 {
  font-size: 50px;
}
.header-text {
  font-size: 20px;
  padding: 20px;
}
.btn {
  border: 1px solid #ffffff;
  background: none;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}

/*  .header__hover {
    display: none;
  }
  &:hover .header__hover {
    display: active;
    @include opacity-red;
  }*/


.services {
  min-height: 550px;
  /*max-width: 1200px;*/
  width: 95%;
  margin: auto;
  @include text-p-14;
  text-align: center;
  @include flex-col;
}
.title_grey_h2 {
  @include font-h2;
  margin: auto;
}
.title_h2_line {
  @include font-h2-line;
  text-align: center;
}
.title_under_grey {
  @include title_under_grey;
}
.TITLE {
  @include flex-col;
  max-height: 260px;
  padding-top: 80px;
  padding-bottom: 70px;
}
/*.services-title {
    @include h2_line_text;  /*почему на общем миксине серая линия над заголовком???
}*/
.title_grey_mini {
  font-family: $font-mtr;
  font-weight: bold;
  font-size: 15px;
}
.services_col {
  width: 100%;
  margin: auto;
  min-height: 220px;
  @include flex-row;
}
.services_left, .services_center, .services_right {
  @include flex-col;
  justify-content: space-between;
  margin: 10px;
  width: 30%;
  height: auto;
}


.AboutUs {
  background-color: #f8f8f8;
  min-height: 850px;
  /*max-width: 1200px;*/
  width: 100%;
  margin: auto;
  @include text-p-14;
  text-align: center;
  @include flex-col;
}
.text-2cols {
  column-count: 2;
  width: 95%;
  min-height: 150px;
  column-gap: 30px;
  text-align: justify;

}
.karusel {
  /*max-width: 1200px;*/
  width: 95%;
  height: auto;
}
.karusel_wrap {
  /*max-width: 1200px;*/
  width: 100%;
  height: auto;
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-inline-start: 0px;
}
.karusel_content {
  flex-wrap: wrap;
  margin: auto;
  max-width: 260px;
}
.karusel-foto {
  height: 260px;
  width: 260px;
  position: relative;
  }
.karusel_name {
  font-size: 14px;
}
.karusel_job {
  font-size: 13px;
  }
.karusel_cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 260px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.5);
}
.karusel_cover_link {
  @include flex-row;
  width: 70%;
  margin: auto;
  padding: 180px 0 20px 0;
}
.karusel-link {
  padding-right: 10px;
  list-style-type: none; /*убираем маркеры списка*/
}
.karusel_item {
  @include flex-row;
  list-style-type: none; /*убираем маркеры списка*/
  position: relative;
 &:hover {
   .karusel_cover {
     display: block;
     cursor: pointer;
   }
 }
}

.works {
  min-height: 1280px;
  width: 100%;
  margin: auto;
  @include text-p-14;
  text-align: center;
  @include flex-col;
}
  /*@include h2_line_text;*/  /*почему на общем миксине серая линия над заголовком???*/
.works_item {
   @include flex-row;
  justify-content: space-around;

   flex-wrap: wrap;
   width: 100%;
 }

.works_cover {
  display: none;
  color: #ffffff;
  @include opacity-red;
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 320px;
  margin: auto;
}
.works_cover_p {
  padding-top: 30%;
  font-size: 14px;
}
.works_cover_txt {

  font-family: $font-mtr;
  font-size: 13px;
}
.btn_white {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  color: rgb(208, 108, 95);
  background-color: #ffffff;
  cursor: pointer;
}
.works_item_wrap {
  width: 360px;
  height: 320px;
  margin-top: 20px;
  position: relative;
  &:hover {
    .works_cover {
      display: block;
      cursor: pointer;
    }
  }
}

.Progect {
  background-image: url(../images/your-project.jpg);
  max-width: 1600px;
  min-height: 370px;
  margin: auto;
  margin-top: 100px;
}
.Progect_text_button {
  @include flex-col;
  font-family: $font-mtr;
  color: #ffffff;
  font-size: 30px;
  max-width: 1600px;
  min-height: 370px;
  text-align: center;
  @include opacity-red;
  cursor: pointer;
  }

.Blog {
  width: 100%;
  @include flex-col;
  min-height: 1080px;
}
.Blog_col {
  width: 100%;
  @include flex-col;
  }
.Blog_row_1 {
  @include flex-row;
  justify-content: center;
  align-items: stretch;
  /*max-width: 1200px;*/
  width: 100%;
  min-height: 380px;
  margin: 20px 0px;
}
.Blog_row_img {
  max-width: 460px;
  height: auto;
  margin-right: 30px;
}
.Blog_right_col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 62%;
  min-height: 227px;

  .Blog_title_row { /*дата + заголовок*/
    @include flex-row;
    text-align: left;
    justify-content: flex-start;
    .Blog_col_date {
      font-size: 20px;
      font-weight: bold;
      font-family: $font-mtr;
      border: 2px solid #555555;
      width: 75px;
      height: 70px;
      text-align: center;
      padding: 2px;
      margin-right: 30px;
    }
    .Blog_title_autor {
      @include flex-col;
      font-family: $font-mtr;
      align-items: baseline;
      .Blog_col_title {
        margin: auto;
        color: #c0301c;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
      }
      .Blog_col_autor {
        color: #555555;
        font-size: 13px;
        font-style: italic;
        text-align: left;
      }
    }
  }
}
.text_grey {
  @include text-p-14;
  text-align: justify;
}
.text_red {
  color: #c0301c;
  font-family: $font-mtr;
  text-decoration: none;
}

.Partners {
  /*max-width: 1200px;*/
  width: 100%;
  min-height: 490px;
  background-color: #f8f8f8;
  @include flex-col;
  color: #555555 ;
}
.Partners_text {
  font-style: italic;
  max-width: 700px;
  font-size: 16px;
  font-family: $font-mtr;
  text-align: center;
}
.Partners_signature {
  font-size: 16px;
}

.GetInTouch {
  min-height: 660px;
  @include flex-col;
}
.GetInTouch_content {
  /*max-width: 1200px;*/
  width: 100%;
  height: auto;
  @include flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;

}
.Contacts {
  @include flex-col;
  align-items: flex-start;
  max-width: 240px;
  min-height: 300px;
  margin-right: 95px;
  .Contacts_wrap {
    margin: auto;
    @include flex-row;
    justify-content: flex-start;
      .Contacts_img {
      width: 30px;
      height: 70px;
      margin-right: 10px;
      padding-top: 35px;
    }
    .Contacts_txt {
      width: 240px;
      height: 70px;
    }
  }
}
.text_grey_mini {
  color: #555555;
  font-size: 12px;
  font-family: $font-mtr;
}
.Form {
  color: #555555;
  font-family: $font-mtr;
  width: 100%;;
  max-width: 730px;
  min-height: 350px;
  @include flex-col;
  align-items: baseline;
}
.Form_row1 {
  width: inherit;
  height: auto;
  font-size: 14px;
  @include flex-row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  }
.Form_name {
  color: #555555;
  font-family: $font-mtr;
  height: 45px;
  max-width: 350px;
  width: 48%;
  padding-left: 10px;
  border: 1px solid #555555;
}
.Form_name_red {
  border: 1px solid red;
}
.Form_massage {
  border: 1px solid #555555;
  max-width: 730px;
  width: 100%;
  min-height: 90px;
  color: #555555;
  font-family: $font-mtr;
  padding-left: 10px;

}
.Form_row4 {
  @include flex-row;
  justify-content: flex-start;

}
.Form_submit {
  border: 1px solid #555555;
  color: #555555;
  font-family: $font-mtr;
  width: 170px;
  height: 45px;
  background-color: #ffffff;
  margin-right: 15px;
}
.submit_text_red {
  color: red;
  padding-right: 5px;
}

.footer {
  width: auto;
  min-height: 200px;
  background-color: #c0301c;
  @include flex-col;
  margin: auto;
}
.footer_img {
  margin: auto;
}
.footer_white_line {
  background-color: #ffffff;

}
.footer-txt {
  color: #ffffff;
}


html {
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  height: 100%;
  .header {
    min-width: 100%;
    background-size: auto;
  }
  .services {
    width: 100%;
  }
  .services_col {
    @include flex-col;
    height: auto;
    min-width: 100%;
  }
  .services_left, .services_center, .services_right {
    width: 100%;
    height: auto;
  }
  .karusel_wrap {
    @include flex-col;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }
  .text-2cols {
    column-count: 1;
    width: 98%;
    height: auto;

  }
  .text_grey {
    padding-left: 5%;
    padding-right: 5%;
  }
  .Blog_right_col, .Blog_title_row {
    margin-left: 5%;
    width: 100%;
    height: auto;
  }
  .text_red {
    padding-left: 5%;
  }
  .Form {
    height: auto;
  }
  .Form_row3 {
    width: 98%;
  }
  .GetInTouch_content {
    @include flex-col;
    height: auto;
    width: 100%;
  }
  .Contacts {
    width: 100%;
    height: auto;
  }
  .Partners_img {
    display: none;
  }
  .Contacts_wrap {
    @include flex-col;
  }
  .Blog_row_1 {
    @include flex-col;
    max-width: 700px;
    height: auto;
  }
  .works_item {
    justify-content: center;
    align-items: center;

  }
}
