

  body {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    padding-bottom: 50px;
    line-height: 1.8em;
  }
  .left-colomn {
    float: left;
    width: 40%;
    max-width: 700px;
    background-color: #ffffff;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    vertical-align: middle;
  }
  .content {
    float: right;
    width: 40%;
    max-width: 700px;
    background-color: #ffffff;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
    overflow: auto;
  }
  .round {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #3f6fb6;
    border: 13px double white;
    padding: 10%;
    margin: 10%;
    margin-left:20%;
    text-align: center;
    box-shadow:
  }
  .surname h1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
  }
  .last-name {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    padding: 0px 20px 0px 10px;
    margin: 0px 0px 0px 0px;
  }
  .surname p {
    font-weight: bold;
    text-align: center;
    padding: 0px 20px 0px 10px;
    margin: 0px 0px 10px 0px;
  }
  .font-blue {
    color: #3f6fb6;
    font-weight: bold;
  }
  .chapter {
    font-size: 30px;
  }
  .icon {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .icon, .chapter, .blue-line {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .blue-line {
    padding-left: 10px;
    margin-left: 10px;
    height: 5px;
    width: 180px;
    background-color: #3f6fb6;
    line-height: 10em;
  }
  .profile p {
    text-align: justify;
  }
  .sidebar {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contact-height {
    line-height: 4em;
  }
  .skills h3 {
    text-align: left;
    margin-bottom: 20px;
  }
  .blue-rounds, .grey-rounds {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: auto;
    float: left;
    margin-bottom: 20px;
    }
.blue-rounds   {
  background-color: #3f6fb6;}
.grey-rounds {
   background-color: grey;
  }
  .education {
    margin-top: 10%;
  }
  .education li {
    list-style-image: url(../images/EDUCATION_ICON_20px.jpg);
    text-align: justify;
  }
  .font-black {
    font-weight: bold;
    font-size: 20px;
  }
  .expiriens li::before { /*вставить маркер- скопировать символ из ворда*/
    content: '●';
    color: black;
    padding-right: 15px;
  }
  .expiriens li {
    list-style-position: outside; /*почему не работает????*/
  }
  .expiriens p {
    text-align: justify;
  }
  li h3 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .software-left {
    float: left;
    width: 50%;
    max-width: 350px;
    margin-top: 5px;
    margin-left: 0px;
    height: auto;
  }
  .software-right {
    float: right;
    width: 50%;
    max-width: 350px;
    margin-top: 5px;
    height: auto;
  }
.blue-kube {
  float: left;
  padding-right: 0px;
  margin-right: 0px;
  background-color: #3f6fb6;
  border: 5px solid #3f6fb6;
  width: auto;
}
.grey-kube{
  float: left;
  width: auto;
  background-color: grey;
    border: 5px solid grey;
    margin-right: 5%;
    padding-left: 0px;
    margin-left: 0px;
}
.blue-kube1 {
  width: 60%;
}
.grey-kube1 {
  float: left;
  width: 10%;
}
.blue-kube2 {
  width: 50%;
}
.grey-kube2 {
  float: left;
  width: 20%;
}
.blue-kube3 {
  width: 40%;
}
.grey-kube3 {
  float: left;
  width: 30%;
}
.blue-kube4 {
  width: 55%;
}
.grey-kube4 {
  float: left;
  width: 15%;
}
.blue-kube5 {
  width: 55%;
}
.grey-kube5 {
  float: left;
  width: 15%;
}
.blue-kube6 {
  width: 60%;
}
.grey-kube6 {
  float: left;
  width: 10%;
}
  .footer {
    margin-bottom: 0px;
    margin-top: 50px;
    height: 50px;
    width: 100%;
    max-width: 1200px;
    margin-top: 0px;
    float: left; /*чтобы прибить footer к низу страницы*/
  }
  .footer-img {
    width: 40%;
    height: auto;
    padding-top: 50px;
  }
  .center {
    text-align: center;
  }
    html {
      height: 100%;
      width: 100%;
      max-width: 1200px;
      margin: auto; /*чтобы центрировать всё на середину окна*/
    }
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 80%;
    }
    .left-colomn {
      width: 100%;
      padding-right: 10px;
    }
    .content  {
      float: left;
      width: 100%;
      margin-left: 30px;
      padding-left: 0px;
      }
    .software-right {
      float: left;
      width: 100%;
      margin-left: 0px;
    }
      }
