/* line 21, style.scss */
html {
  height: 100%;
  width: 100%; }

/* line 25, style.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 30, style.scss */
#navbar {
  background-color: #eff0f2;
  width: 100%;
  min-height: 175px; }
  /* line 34, style.scss */
  #navbar .navbar__img {
    width: 113px;
    height: 45px; }
  /* line 38, style.scss */
  #navbar .navbar__menu {
    width: 40px;
    height: 40px; }

/* line 44, style.scss */
#hello {
  background-color: #eff0f2;
  width: 100%;
  min-height: 625px; }
  /* line 48, style.scss */
  #hello .hello__tittle {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    color: #505050;
    font-weight: bold;
    text-shadow: 2px 2px 3px #cdced0; }
    /* line 54, style.scss */
    #hello .hello__tittle .hello__tittle_blue {
      background-color: #afede9; }
  /* line 58, style.scss */
  #hello .hello__btn {
    text-decoration: none;
    border: 2px solid #505050;
    color: #505050;
    font-size: 18px;
    margin-top: 120px; }
  /* line 65, style.scss */
  #hello .hello__glass {
    width: 128px;
    height: 180px;
    margin-bottom: 100px; }

/* line 72, style.scss */
#AboutUs {
  width: 100%;
  min-height: 980px;
  padding-top: 5rem;
  background-color: #f8fafa;
  /* colours */ }
  /* line 77, style.scss */
  #AboutUs .AboutUs__title_black {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #000000;
    text-align: center; }
  /* line 80, style.scss */
  #AboutUs .AboutUs__title_grey {
    font-family: "Merriweather", serif;
    font-size: 18px;
    color: #848585;
    text-transform: uppercase;
    text-align: center;
    padding-top: 15px; }
  /* line 83, style.scss */
  #AboutUs .AboutUs__carousel__bcg {
    background-image: url("images/Ab-bcg.jpg");
    position: relative; }
  /* line 87, style.scss */
  #AboutUs .carousel {
    position: relative;
    width: 50%;
    height: 500px;
    overflow: hidden;
    /* animations */ }
    /* line 92, style.scss */
    #AboutUs .carousel .carousel__item {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center; }
    /* line 99, style.scss */
    #AboutUs .carousel .slide-in {
      -webkit-transform: translate3d(-90%, 0px, 0px);
              transform: translate3d(-90%, 0px, 0px);
      -webkit-transition: -webkit-transform 0.5s ease-out;
      transition: -webkit-transform 0.5s ease-out;
      transition: transform 0.5s ease-out;
      transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
      z-index: 1; }
    /* line 104, style.scss */
    #AboutUs .carousel .slide-in:target, #AboutUs .carousel .slide-in:focus {
      -webkit-transform: translate3d(0px, 0px, 0px);
              transform: translate3d(0px, 0px, 0px);
      z-index: 2; }
    /* line 108, style.scss */
    #AboutUs .carousel .slide-in:target ~ .slide-in {
      -webkit-transform: translate3d(90%, 0px, 0px);
              transform: translate3d(90%, 0px, 0px); }
  /* line 112, style.scss */
  #AboutUs .carousel__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 5; }
    /* line 118, style.scss */
    #AboutUs .carousel__controls .carousel__controls__btn {
      color: #d0d0d0;
      font-size: 3em;
      text-decoration: none; }
    /* line 123, style.scss */
    #AboutUs .carousel__controls .carousel__controls__btn:active {
      color: #71f6eb; }
  /* line 130, style.scss */
  #AboutUs .red {
    background-color: red; }
  /* line 134, style.scss */
  #AboutUs .green {
    background-color: green; }
  /* line 138, style.scss */
  #AboutUs .yellow {
    background-color: yellow; }
  /* line 141, style.scss */
  #AboutUs .blue {
    background-color: blue; }

@media screen and (max-width: 700px) {
  /* line 152, style.scss */
  .hello__glass {
    display: none; } }
