$bcg-grey: #eff0f2;
$bcg-blue: #afede9;
$font-mntr: 'Montserrat', sans-serif;
$font-mrw: 'Merriweather', serif;
$font-rlw: 'Raleway', sans-serif;

%ttl-black {
  font-family: $font-mntr;
  font-weight: bold;
  font-size: 38px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
%ttl-grey {
  font-family: $font-mrw;
  font-size: 18px;
  color: #848585;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}
%flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
%flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
%title__white_mini {
  font-family: $font-mrw;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
}
%content_white {
  font-family: $font-rlw;
  font-size: 16px;
  color: #ffffff;
}
%serv__item__content {/*набор стилей для раздела services*/
  min-height: 415px;
  background-color: rgba(0, 0, 0, 0.5);
  .serv__title_white {
    margin-top: 30%;
    @extend %title__white_mini;
  }
  .serv__text {
    padding-top: 5%;
    @extend %content_white;
  }
  .serv__btn {
    margin-top: 5%;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-rlw;
    font-size: 18px;
    color: #ffffff;
    }
}
%title__black_mini {
  font-family: $font-mrw;
  font-weight: bold;
  font-size: 20px;
  color: #646565;
  text-transform: uppercase;
}
%content__text__grey {
  font-family: $font-rlw;
  font-size: 16px;
  color: #b8baba;
}


html {
  height: 100%;
  width: 100%;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  }
#toTop { /*кнопка вверх*/
  width:80px;
  border-radius: 50%;
  border:1px solid $bcg-blue;
  background-color: $bcg-blue;
  text-align:center;
  padding:5px;
  position:fixed;
  bottom:50px; /* отступ кнопки от нижнего края страницы*/
  right: 3%;
  cursor:pointer;
  display:none;
  color:#505050;
  font-family: $font-mntr;
  font-size:40px;
  font-weight: bolder;
  z-index: 5;
  }
#navbar {
  background-color: $bcg-grey;
  width: 100%;
  min-height: 175px;
  /*.navbar__img {
    width: 113px;
    height: 45px;
  }*/
  .navbar-img {
    max-width: 113px;
    max-height: 46px;
  }
/*  .navbar__menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }*/
  /*скрываем инпут чекбокс*/
  .hidden-menu-ticker {
    display: none;
  }
  .hidden-menu {
    display: block;
    position: fixed;
    list-style:none;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    width: auto;
    background-color: $bcg-blue;
    border-radius: 10px;
    min-height: 300px;
    top: 0;
    font-size: 20px;
    line-height: 2em;
    right: -250px;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    li a {
      text-decoration: none; color: #606061;
      &:hover {
        color: #505050;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  /*общие стили гамбургера*/
  .btn-menu {
    color: #fff;
    background-color: $bcg-grey;
    padding: 7px;
    border-radius: 5px;
    top: 100px;
    right: 130px;
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    width: 50px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  /*общие стили полосок*/
  .btn-menu span {
    display: block;
    height: 6px;
    background-color: #606061;
    margin: 5px 0 0;
    transition: all .1s linear .23s;
    position: relative;
  }
  /*прибиваем к верху лэйбла первую полоску*/
  .btn-menu span.first {
    margin-top: 0;
  }
  /*при нажатии на бургер двигаем его и делаем другой фон бургеру*/
  .hidden-menu-ticker:checked ~ .btn-menu {
    top: 10px;
    right: 200px;
    background-color: $bcg-blue;
    position: fixed;
  }
  /*и дальше стили меняющие бургер, двигающие менюшку по событию - нажатие на значек бургера*/
  .hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.first {
    -webkit-transform: rotate(50deg);
    top: 7px;
    background-color: #fff;
  }
  .hidden-menu-ticker:checked ~ .btn-menu span.second {
    opacity: 0;
  }

  .hidden-menu-ticker:checked ~ .btn-menu span.third {
    -webkit-transform: rotate(-60deg);
    top: -10px;
    background-color: #fff;
  }
}

#hello {
  background-color: $bcg-grey;
  width: 100%;
  min-height: 625px;
  z-index: 1;
  .hello__tittle {
    font-family: $font-mntr;
    font-size: 45px;
    color: #505050;
    font-weight: 700;
    text-shadow: 2px 2px 3px #cdced0;
    text-transform: uppercase;
    .hello__tittle_blue {
      background-color: $bcg-blue;
    }
  }
  .hello__btn {
    text-decoration: none;
    border: 2px solid #505050;
    color: #505050;
    font-size: 18px;
    margin-top: 120px;
    cursor: pointer;
  }
  .hello__glass {
    width: 128px;
    height: 180px;
    margin-bottom: 100px;
  }
}

#AboutUs {
  width: 100%;
  min-height: 980px;
  padding-top: 5rem;
  background-color: #f8fafa;
  .title_black {
    @extend %ttl-black;
  }
  .title_grey {
    @extend %ttl-grey;
  }
  .carousel__bcg {
    background-image: url('../images/Ab-bcg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    .slideshow-container {
      max-width: 100%;
      position: relative;
      margin: auto;
    }
    .mySlides {
      display: none;
    }
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      margin-top: -22px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    /* The dots/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 20px 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .active, .dot:hover {
      background-color: $bcg-blue;
    }
  }
  .AboutUs__content {
    width: 100%;
    @extend %flex-col;
    @extend %content__text__grey;
    .AboutUs__content__title {
      @extend %title__black_mini;
    }
  }
}
#works {
  width: 100%;
  min-height: 1160px;
  background-color: #ffffff;
  .works__title {
    @extend %ttl-black;
  }
  .title_grey {
    @extend %ttl-grey;
  }
  .works__item_1, .works__item_2 {
    padding: 1rem 1rem 0 0;
    flex-wrap: wrap;
    max-width: 360px;
    max-height: 360px;
    &:hover {
      box-shadow: 0.5rem 0.5rem 0.5rem #164a34; /* Добавляем тень для блока */
      border-radius: 5px;
      animation-delay: 0.5s;
      padding: 0;
      z-index: 2;
    }
  }
  .works__item_2:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #164a34; /* Добавляем тень для блока */
  }
}
#serv {
  width: 100%;
  min-height: 1600px;
  background-color: #f9fbfb;
  position: relative;
  .title_black {
    @extend %ttl-black;
  }
  .title_grey {
    @extend %ttl-grey;
  }
  .serv__item__1, .serv__item__2, .serv__item__3, .serv__item__4, .serv__item__5, .serv__item__6 {
    min-height: 415px;
    position: relative;
    .serv__item__content {
      @extend %serv__item__content;
    }
  }
  .serv__item__1 {
    background-image: url('../images/serv-1.png');
  }
  .serv__item__2 {
    background-image: url('../images/serv-2.png');
  }
  .serv__item__3 {
    background-image: url('../images/serv-3.png');
  }
  .serv__item__4 {
    background-image: url('../images/serv-4.png');
  }
  .serv__item__5 {
    background-image: url('../images/serv-5.png');
  }
  .serv__item__6 {
    background-image: url('../images/serv-6.png');
  }
  #cover1, #cover2, #cover3, #cover4, #cover5, #cover6 {
    display: none;
  }
  .serv__item__cover {
    background-color: #70f5eb;
    color: #2f6f6a;
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    min-height: 415px;
    width: auto;
    .serv__cover__title {
      @extend %title__black_mini;
      margin-top: 5em !important;
    }
    .serv__cover__text {
      margin: 10px 0;
    }
    .serv__btn__close {
      color: #2f6f6a;
      font-size: 20px;
      cursor: pointer;
    }
  }

}

#team {
  background-color: #ffffff;
  min-height: 1300px;
  width: 100%;
  position: relative;
  .title_black {
    @extend %ttl-black;

  }
  .title_grey {
    @extend %ttl-grey;
  }
  .team__item {
    @extend %flex-row;
    position: relative;
    margin-bottom: 1.2rem;
    max-height: 420px;
    max-width: 360px;
    width: auto;
    height: auto;
    .triangle {
      content: '';
      position: absolute; /* Абсолютное позиционирование */
      left: 35%; top: 32%;/* Положение треугольника */
      border: 20px solid transparent; /* Прозрачные границы */
      border-bottom: 20px solid #70f5eb; /* Добавляем треугольник */
       z-index: 2;
       display: none;
      }
   &:hover {
     .team__cover, .triangle {
       display: block;
       cursor: pointer;

     }
   }
  }
  .team__cover {
    display: none;
    position: absolute;
    top: 40%;
    left: 15%;
    min-height: 240px;
    max-width: 335px;
    margin: auto;
    background-color: #70f5eb;
    border-radius: 10px;
    box-shadow: 0 0 7px #000; /* Добавляем тень для блока */
    .team__cover__title {
      @extend %title__black_mini;
    }
    .title__greyItalic {
      font-family: $font-mrw;
      font-style: italic;
      font-size: 16px;
      color: #767978;
    }
  }
  /*соцсети*/
  .team__cover__link {
    @extend %flex-row;
    margin: auto;
    justify-content: flex-start;
    .team-link {
      padding-right: 20px;
      list-style-type: none; /*убираем маркеры списка*/
    }
  }

}
#talk {
  width: 100%;
  min-height: 920px;
  background-color: #f9fbfb;
  margin: auto;
  position: relative;
  .title_black {
    @extend %ttl-black;
  }
  .title_grey {
    @extend %ttl-grey;
  }
  .talk__content {
    background-color: #eaebed;
    min-width: 50%;
    min-height: 410px;
    // position: relative;
    #carousel__item5 {
      display: block;
    }
    #carousel__item6, #carousel__item7, #carousel__item8 {
      display: none;
    }
    .talk__content__item {
      min-height: 360px;
      padding-top: 15%;
      // left: 0;
      .talk__content__title {
        @extend %title__black_mini;
        margin-bottom: 0 ;
      }
      .talk__content__text {
        @extend %content__text__grey;
      }
    }
  }
  .carousel__bcg {
    background-image: url('../images/talk-bcg.png');
    background-repeat: no-repeat;
    background-position: center center;
    }
  .carousel {
    position: relative;
    max-width: 390px;
    min-height: 410px;

    #carousel__item1 {
      display: block;
      position: absolute;
      max-width: 390px;
      top: -5%;
      left: 0%;
      z-index: 2;
    }
    #carousel__item2, #carousel__item3, #carousel__item4 {
      position: absolute;
      max-width: 390px;
      height: 410px;
      top: -5%;
      left: 0;
      display: none;
      z-index: 1;
    }
  }
  .carousel__controls {
    position: absolute;
    bottom: -20%;
    width: 100%;
    text-align: center;
    z-index: 2;
    cursor: pointer;
    .carousel__controls__btn {
      color: #d0d0d0;
      font-size: 3em;
      text-decoration: none;
      cursor: pointer;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 20px 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active, .dot:hover {
        background-color: $bcg-blue;
      }
  }
}
#partners {
  width: 100%;
  min-height: 300px;
  background-color: #ffffff;
  .partners__part2, .partners__part2 {
    padding: 1rem 1rem 0 0;
    flex-wrap: wrap;
    max-width: 180px;
    max-height: 75px;
    }
}
#contacts {
  width: 100%;
  min-height: 700px;
  background-image: url('../images/christmas_snow_trees-wide.png');
  background-repeat: no-repeat;
  margin: auto;
  .form {
    background-color: #4a5862;
    opacity: 0.8;
    min-height: 460px;
    color: #ffffff;
    line-height: 0.5em;
    padding-top: 3rem ;
    margin: auto;
    .btn-warning {
      background-color: #71f6eb;
      border: none;
      margin-left: 2em;
    }
    iframe {
      max-width: 450px;
      max-height: 230px;
    }
  }
}
#footer {
  width: 100%;
  min-height: 100px;
  background-color: #262b2e;
  color: #ffffff;
  font-family: $font-rlw;
  font-size: 16px;
  margin: 0 auto;
  .social {
    background-color: #424648;
    color: #bbb8b9;
    border-radius: 5px;
    max-height: 60px;
    max-width: 60px;
    padding: 5px;
    &:hover {
      background-color: #71f6eb;
      color: #262b2e;
    }
  }
  .form__web {
    text-decoration: none;
    color: #ffffff;
  }

}

@media screen and (max-width: 800px) {
  .hello__glass {
    display: none;
  }
  #talk {
    min-height: 1200px;
  }
}

@media screen and (max-width: 700px) {
  .AboutUs__content {
    .title__black_mini {
    margin-top: 5rem;
    }
  }
  #team {
    min-height: 1500px;
    margin: 50px 0;
  }
  #serv {
    margin: 50px 0;
  }

}

@media screen and (max-width: 580px) {
  #serv {
    min-height: 2800px;
  }
  #team {
    min-height: 2200px;
    margin-top: 100px;
    .team__item {
      width: 90%;
    }
  }
  #partners {
    margin-top: 50px;
  }
  #contacts {
    background-image: none;
    margin: 50px 0 250px 0;
  }
  #talk {
    min-height: 1200px;
    .carousel__bcg {
      background-image: none;
      width: 100%;
      .carousel {
        .carousel__item{
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }
    .carousel__controls {
      bottom: 0;
      }
    }
  }
  .btn-warning {
    max-width: 70% !important;
  }
}
@media screen and (max-width: 300px) {
  #hello {
    .hello__tittle {
      font-size: 35px;
    }
  }
    #serv {
    margin: 150px 0;
    .serv__item__1, .serv__item__3, .serv__item__5 {
      margin-right: 0;
    }
  }
  #team {
    margin-top: 100px;
    min-height: 1800px;
  }
  #works {
    .works__item_1, .works__item_2 {
      padding: 1rem 0;
    }
  }
  #toTop { /*кнопка вверх*/
    width:80px;
    padding:0px;
    bottom:30px; /* отступ кнопки от нижнего края страницы*/
    right: 0;
    z-index: 6;
    }

}
