@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/lato/Lato-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'GothaProBla';
  src: url('../fonts/GothaProBla.otf');

}
@font-face {
  font-family: 'Lato-Bold'; src: url('.../fonts/lato/Lato-Bold.ttf');
    font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular'; src: url('../fonts/OpenSans-Regular.ttf');
    font-style: normal;
}

.header {
  display:flex;
  flex-direction: row;
  max-width: 1700px;
  max-height: 95px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-family: 'Lato-Regular';
  font-size: 13px;
  color: #868686; /*серый шрифт*/

}
.header__logo {
  margin: 20px;
  padding-left: 15%;
}
.header__menu {
  padding-right: 10%;
}
.header__item {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px; /*верх-низ  лев-прав*/
  border-radius: 5px; /*скругленные углы*/
  /*box-shadow: 0 0 0 2px #76C38F, 0 0 10px green; /*сделать границы кнопок */
}
.header__item_orange {
  color: white;
  background-color: #ffbb42;
}
.header__item:hover { /*ссылки меняют цвет при наведении*/
  background-color: #ffbb42;
  color: white;
}

.quote {
  max-width: 1700px;
  height: 590px;
  color: white;
  background-color: #709dca;
  text-align: center;
  padding-top: 100px;
  font-family: 'GothaProBla';
}
.title_big {
  font-size: 35px;
  font-weight: bold;
  }
.title_under_white {
  padding: 10px;
  font-size: 16px;
}
.quote__form {
  width: 285px;
  height: 50px;
  color: #868686;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
}
.quote__form_name {
  vertical-align: middle;
  /*  background: url(images/name.png) no-repeat center left;*/
  background-image: url(../images/name.png);
  background-repeat: no-repeat; /*вставить иконку в форму, не работает*/
  }
.quote__form_email {
  /*  background: url(images/name.png) no-repeat center left;*/
  background-image: url(../images/email.png);
  background-repeat: no-repeat; /*вставить иконку в форму, не работает*/
}
.quote__form_phone {
    /*  background: url(images/name.png) no-repeat center left;*/
    background-image: url(../images/phone.png);
    background-repeat: no-repeat; /*вставить иконку в форму, не работает*/
}
.quote__form_submit {
  width: 285px;
  height: 55px;
  color: white;
  background-color: #ffbb42;
  border: 1px ridge #ffbb42;
  }
.service {
  color: #868686; /*серый шрифт*/
  height: auto;
  }
.title_black {
  padding-top: 100px;
  color: black;
  font-family: 'GothaProBla';
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.title_under_grey {
  font-family: 'GothaProBla';
  color: #868686; /*серый шрифт*/
  font-size: 16px;
  text-align: center;
  padding: 5px;
  padding-bottom: 80px;
}
.service__categories {
  display: flex;
  flex-direction: row;
  /*  align-items: center;*/
  max-width: 1700px;
  min-height: 500px;
  margin: auto;
  justify-content: space-around;
}
.service__categories_left_all, .service__categories_right_all {
  display: flex;
  max-width: 40%;
  flex-direction: column;
  justify-content: space-between;
}
.service__categories_left, .service__categories_right {
  display: flex;
  max-width: 80%;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  padding-bottom: 35px;
}
.service__icons {
  padding: 20px;
}
.title_black_mini {
  font-family: 'Lato-Bold';
  font-size: 20px;
  color: black;
  font-weight: bolder;
  font-weight: 300;
  padding-bottom: 20px;
}
.text_grey {
  line-height: 1.5em;
  font-size: 14px;
  color: #868686; /*серый шрифт*/
}

.wrap {
    position: relative;
    width: 1700px;
    max-height: 1510px;
    padding-bottom: 130px;
}

.laptop {
  position: absolute;
  top: 500px;
  left: 520px;
}
.laptop__all {
  text-align: center;
  position: relative;

}
.laptop__out {
  width: 650px;
  height: 350px;
  position: relative;
}
.laptop__in {
  width: 445px;
  height: auto;
  position: absolute;
  top: 5%;
  left: 16%;
}
.service__rounds {   /*голубой и серые круги под лэптопот*/
  margin-top: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.service__rounds_blue {
  border: 2px solid #3f6fb6;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.service__rounds_grey {
  border: 2px solid #868686; /*серый */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.aboutUs {
  max-width: 1700px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content:  space-around;
  align-items: stretch;

}
.aboutUs__table {
  /*background-image: url(images/table.jpg);*/
  flex-grow: 1; /*жадность блока п отношению к соседнему блоку*/
}
.aboutUs__block {
  background-color: #ffc155; /*оранжевый цвет*/
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 637px;
  width: auto;
  justify-content: space-between;

  }
.aboutUs__text {
  text-align: left;
  margin-top: 150px;
  max-width: 65%;
  margin-left: 10%;
  }
.title_white {
  font-family: 'GothaProBla';
  font-weight: bold;
  font-size: 30px;
  margin-left: 10%;
  color: white;
}
.text_white {
  font-family: 'OpenSans-Regular';
  font-size: 15px;
  color: white;
  padding: 20px 0px;
  line-height: 1.5em; /*межстрочный инт-л*/
  margin-left: 10%;
}
.button {
  margin: auto;
}
.button_orange {
  padding: 10px 20px;
  border: 1px solid #e7ad48;
  border-radius: 2px;
  background-color:  #ffc155;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-family: 'Lato-Regular';
  font-size: 14px;
}
.aboutUs__button {
  margin: 130px;
}

.price {
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e7edf3;
  }
.price__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.price__block_left, .price__block_right, .price__block_center {
  border: 1px solid #ccd5df;
  width: 390px;
  height: 440px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-family: 'OpenSans-Regular';
  color: #868686; /*серый шрифт*/
}
.price__block_h2 {
  font-size: 25px;
  font-family: 'GothaProBla';
  padding: 20px;
}
.price__block_orange {
  color: #ffc155; /*оранжевый цвет*/
  font-size: 60px;
  padding: 5px;
}
.price__block_down {
  font-size: 20px;
  padding: 5px;
}
.price__block_text {
  font-size: 17px;
  padding: 20px;
  border-top: 1px solid #868686;
}
.price__block_btn {
  text-decoration: none;
  color: white;
  padding: 10px 20px; /*верх-низ  лев-прав*/
  border-radius: 5px; /*скругленные углы*/
  background-color: #ffbb42;
}

.price__block_blue {
  display: none;
}
.price__block_left:hover, .price__block_center:hover, .price__block_right:hover, .price__block_blue:active {
  width: 390px;
  padding: 80px 0px;
  background-color: #709dca; /*синий фон*/
  color: #ffffff;
}

.work {
  width: auto;
  height: auto;
}
.work__img_center {
  text-align: center;
}
.work__step {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.work__step_inrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 40px;
}
.work__button {
  margin: 50px;
  text-align: center;
}

.clients {
  background-color: #ffc155;
  height: auto;
  max-height: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 50px;
  }
.clients__text {
  text-align: center;
  margin: auto;
  }
.clients__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  justify-content: space-between ;
  align-items: center;
  align-content: center;
  margin: auto;
  min-height: 500px;
}
.clients__box {
  max-width: 570px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;

  }
.clients__box_img {
  border-radius: 50%;
  height: 120px;
  margin: 10px;
  }
q {
  quotes: "\201c" "\201d"; /* Кавычки . не работают!!*/
}
.clients__box_txt {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'OpenSans-Regular';
  max-height: inherit;
  align-items: baseline;
}
.clients__box_txt_grey {
  line-height: 1.5em;
  font-size: 13px;
  color: #868686; /*серый шрифт*/
  margin: 10px;
  text-align: left;
  }
.clients__box_txt_color {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: 'Lato-Regular';
  padding-left: 10px;}
.clients__box_txt_red {
  color: red;
  padding-right: 10px;
  margin: 0 auto;
  height: 20px;
}
.clients__box_txt_blue {
  margin: 0 auto;
  color: #3f6fb6; /*голубой*/
  height: 20px;
}

.geo {
max-width: 1700px;
height:auto;
text-align: center;
padding-top: 50px;
font-family: 'GothaProBla';
}
.geo__coordinate {
  background-image: url(../images/map.png);
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

}
.geo__round {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  background-color: #394b50;
  text-align: center;
  position: absolute;
  top: 50px;
  left: 41%;
  }
.geo__round::after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: 44%;
  top: 278px; /* Положение треугольника */
  border: 20px solid transparent;	 /* Прозрачные границы */
  border-top: 20px solid #394b50; /* Добавляем треугольник */
}
.geo__figure {
  position: relative;
}
.geo__text {
  text-align: center;
  position: absolute;
  left: 42%;
  top: 100px;
  width: inherit;
}
.geo__text_big_white {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  width: 250px;
}
.geo__text_little_white {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  width: 250px;
}
.geo__text_orange {
  color: #ffc155; /*оранжевый цвет*/
  font-size: 13px;
  text-align: center;
  width: 200px;
  margin-left: 15px;
}
.geo__logo {
  position: absolute;
  top: 180px;
  left: 48%;
}
.footer {
  height: auto;
  font-family: 'Lato-Regular';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #868686; /*серый шрифт*/
}
.footer__menu {
  padding-right: 10%;
  color: #868686; /*серый шрифт*/
  font-size: 15px;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}
.footer__menu__item {
  text-decoration: none;
  padding: 10px 20px; /*верх-низ  лев-прав*/
  color: #868686; /*серый шрифт*/
  }
.footer__menu__item:hover { /*ссылки меняют цвет при наведении*/
  background-color: #ffbb42;
  color: #ffffff;
  border-radius: 5px;
  }
.footer__call {
  text-align: center;
  display: inline-block;
  font-size: 20px;
  font-family: 'Lato-Regular';
  padding-top: 5px;
  border: 1px solid #ffffff;
}
.footer__link {
  margin: 25px;
  display: inline-block;
  text-align: center;
  }
.footer__link_img {
  padding-right: 10px;
  padding-top: 20px;
  margin-top: 120px;
}
.footer__copyright {
  padding-top: 20px;
  font-family: 'Lato-Regular';
  height: 40px;
  background-color: #709dca;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  vertical-align: baseline;
}

html {  /*ставим внизу кода чтобы выровнять стр-цу по центру*/
  height: 100%;
  width: 100%;
  max-width: 1700px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
/*  align-items: center;*/
  align-content: center;*/
  overflow: auto;
  }

@media screen and (max-width: 700px) {
  .service {
    width: 80%;
  }
.quote {
  width: 80%;
}
.laptop {
  display: none;
}




}
